* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  transition: background .3s, color .3s, fill .3s; }

body {
  background: #319550; }

.add-note {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  left: 10px;
  line-height: 0;
  position: absolute;
  top: 20px; }
  .add-note:focus {
    outline: 0; }
  .add-note:hover {
    color: gold; }

.color-option__container {
  bottom: 0;
  height: 10px;
  left: 0;
  position: absolute;
  width: 100vw; }

.color-option__choice {
  cursor: pointer;
  float: left;
  height: 100%;
  width: 20%; }

.note {
  position: absolute; }

.note__tab {
  background: #adadad;
  display: flex;
  justify-content: space-between;
  padding: 5px; }

.note__tab__title {
  background: transparent;
  border: none;
  color: white; }
  .note__tab__title:focus {
    outline: 0; }
  .note__tab__title::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white; }
  .note__tab__title::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  .note__tab__title:-ms-input-placeholder {
    /* IE 10+ */
    color: white; }
  .note__tab__title:-moz-placeholder {
    /* Firefox 18- */
    color: white; }

.note__tab__move-button {
  background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), transparent 1px, transparent 2px);
  background-size: cover;
  border: none;
  cursor: move;
  float: left;
  height: 100%;
  margin-right: 5px;
  width: 30px; }
  .note__tab__move-button:focus {
    outline: 0; }

.note__tab__delete {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 18px; }
  .note__tab__delete:focus {
    outline: 0; }
  .note__tab__delete::before {
    background: rgba(0, 0, 0, 0.2);
    content: '';
    height: 30px;
    position: absolute;
    right: 10px;
    top: -5px;
    transform: rotate(45deg);
    width: 1px; }
  .note__tab__delete::after {
    background: rgba(0, 0, 0, 0.2);
    content: '';
    height: 30px;
    position: absolute;
    left: 10px;
    top: -5px;
    transform: rotate(-45deg);
    width: 1px; }

.note__body {
  background: white;
  border: none;
  box-sizing: border-box;
  width: 300px;
  min-height: 200px;
  min-width: 230px;
  margin-bottom: 0;
  padding: 5px; }
  .note__body:focus {
    outline: 0; }
  .note__body::-webkit-resizer {
    display: none; }

.notes-container {
  left: 0;
  position: absolute;
  top: 0; }

.settings__button {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 30px; }
  .settings__button .st0 {
    fill: white; }
  .settings__button:hover .st0 {
    fill: gold; }

.settings__modal {
  background: white;
  box-sizing: border-box;
  left: calc(50vw - 250px);
  padding: 30px;
  position: absolute;
  top: 100px;
  width: 500px; }

.photoshop-picker {
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 10; }
