.notes-container {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

@media all and (max-width: 600px) {
  .notes-container {
    height: 100%;
    top: 40px;
  }
}
